html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-size: $textSize;
    font-family: Arial, sans-serif;
    line-height: $lineHeight;
    font-weight: 400;
}

.container {
    max-width: 1216px;
    padding: 0 5px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $text;
}

ul,
li,
p {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0;
}
.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}
h1,
h2,
h3 {
    margin: 0;
}
.big-title {
    font-size: 48px;
    line-height: 56px;
}
.m-title {
    font-size: 32px;
    line-height: 40px;
}
.s-title {
    font-size: 24px;
    line-height: 32px;
}

.fwb {
    font-weight: bold;
}

.btn {
    border-radius: 6px;
    color: #fff;
    font-size: $textSize;
    line-height: $lineHeight;
    text-align: center;
    display: inline-block;
}

.member {
    display: flex;
    &-img {
    }
    &-info {
        .name {
        }
        .position {
        }
    }
}

.price {
    background-color: rgba(30, 160, 30, 0.1);
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    &__title {
    }
    &__fee {
        display: flex;
        &-title {
            min-width: 200px;
            color: rgba(0, 0, 0, 0.52);
        }
        &-text {
        }
    }
    &__request {
        text-align: center;
        &-link {
            display: inline-flex;
            align-items: center;
        }
        &-icon {
            display: inline-flex;
        }
        &-text {
            display: inline-block;
        }
    }
}

.download-w-border {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    i {
        display: inherit;
    }
}

.stroke {
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}
.input-wrapper {
    position: relative;
}
.inp {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 8px 12px 8px 44px;
    &::placeholder {
        color: rgba(0, 0, 0, 0.52);
    }
    &--higher {
        height: 42px;
    }
    ~ label {
        position: absolute;
        content: "";
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.link-text {
    display: flex;
    i {
        margin-right: 10px;
    }
}
.medal {
    a {
        position: relative;
        &::before,
        &::after {
            transition: all 0.1s;
            position: absolute;
            content: "";
        }
        &::before {
            width: 60px;
            height: 60px;
            opacity: 0;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.207);
        }
        &:after {
            background-image: url("../images/arrow-left.svg");
            width: 18px;
            height: 18px;
            opacity: 0;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            &::before,
            &:after {
                opacity: 1;
            }
        }
    }
}

.btn-social {
    display: inline-block;
    border-radius: 50px;
    position: relative;
    font-size: 18px;
    color: #fff;
    height: 60px;
    padding: 18px 48px 18px 75px;
    cursor: pointer;
    white-space: nowrap;
    &.btn--fb {
        background-color: $fbColor;
        i {
            background-color: $fbCircle;
            &:before {
                width: 15px;
                height: 33px;
                background-image: url(../images/footer/icon-fb.svg);
            }
        }
    }
    &.btn--vk {
        background-color: $vkColor;
        i {
            background-color: $vkCircle;
            &:before {
                width: 32px;
                height: 18px;
                background-image: url(../images/footer/icon-vk.svg);
            }
        }
    }
    &.btn--ok {
        background-color: $okColor;
        i {
            background-color: $okCircle;
            &:before {
                width: 18px;
                height: 30px;
                background-image: url(../images/footer/icon-ok.svg);
            }
        }
    }
    i {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        &:before {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);
        }
    }
}

.link {
    font-weight: bold;
    i {
        vertical-align: middle;
        margin-left: 17px;
    }
}

.switcher {
    position: relative;
    display: inline-block;
    width: 66px;
    height: 28px;
    .switcher__inp {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .switcher__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        .slider-rounded {
            position: absolute;
            text-align: center;
            content: "";
            font-size: 12px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.52);
            background-color: #fff;
            width: 52px;
            height: 22px;
            left: 3px;
            bottom: 3px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }
        &.round {
            border-radius: 34px;
            .slider-rounded {
                border-radius: 26px;
            }
        }
    }
    input {
        visibility: hidden;
        &:checked + .switcher__slider {
            background-color: #fa961e;
        }
        &:focus + .switcher__slider {
            box-shadow: 0 0 1px #fa961e;
        }
        &:checked + .switcher__slider .slider-rounded {
            transform: translateX(8px);
            color: #fa961e;
        }
    }
}

.avatar {
    .avatar-img {
        position: relative;
        display: inline-block;
        &.avatar--alarm {
            &::after {
                position: absolute;
                content: "";
                right: -5px;
                top: -5px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $red;
                border: 4px solid #fff;
            }
        }
    }
}

.actions {
    display: flex;
    li {
        width: 6px;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.2);
        &.active {
            background-color: $green;
        }
        & + li {
            margin-left: 1px;
        }
        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.color--green {
    background-color: $green;
}

// //////////////////ICONS
.icon {
    display: inline-block;
    background-size: cover;
}
.icon-search {
    width: 18px;
    height: 18px;
    background-image: url("../images/nav/nav-1.svg");
}
.icon-users {
    width: 20px;
    height: 20px;
    background-image: url("../images/nav/nav-2.svg");
}
.icon-estate {
    width: 20px;
    height: 20px;
    background-image: url("../images/nav/nav-3.svg");
}
.icon-franchise {
    width: 20px;
    height: 18px;
    background-image: url("../images/nav/nav-4.svg");
}
.icon-business {
    width: 20px;
    height: 20px;
    background-image: url("../images/nav/nav-5.svg");
}
.icon-services {
    width: 20px;
    height: 20px;
    background-image: url("../images/nav/nav-6.svg");
}
.icon-provider {
    width: 21px;
    height: 20px;
    background-image: url("../images/nav/nav-7.svg");
}
.icon-investments {
    width: 22px;
    height: 22px;
    background-image: url("../images/nav/nav-8.svg");
}
.icon-ideas {
    width: 22px;
    height: 21px;
    background-image: url("../images/nav/nav-9.svg");
}
.icon-plans {
    width: 18px;
    height: 22px;
    background-image: url("../images/nav/nav-10.svg");
}
.icon-arrow-down {
    width: 14px;
    height: 8px;
    background-image: url("../images/header/arrow-down.svg");
}
.icon-arrow-right {
    width: 8px;
    height: 13px;
    background-image: url("../images/arrow-right.svg");
}
.icon-arrow-left {
    width: 18px;
    height: 18px;
    background-image: url("../images/arrow-left.svg");
}
.icon-phone {
    background-image: url("../images/phone.svg");
}
.icon-member {
    background-image: url("../images/icon-skin.svg");
}
.icon-envilopment {
    background-image: url("../images/envilopment.svg");
}
.icon-bell {
    width: 20px;
    height: 22px;
    background-image: url("../images/header/bell.svg");
    position: relative;
    &.bell--active {
        &:after {
            position: absolute;
            content: "";
            right: 0px;
            top: 1px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $blue;
        }
    }
}
.icon-message {
    width: 22px;
    height: 19px;
    background-image: url("../images/header/message.svg");
    position: relative;
    &.message--active {
        &:after {
            position: absolute;
            content: "";
            right: 0px;
            top: -2px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $blue;
        }
    }
}
.icon-download {
    width: 20px;
    height: 20px;
    background-image: url("../images/about/download.svg");
}
.icon-fb {
    width: 9px;
    height: 20px;
    background-image: url("../images/footer/icon-fb.svg");
}
.icon-vk {
    width: 20px;
    height: 12px;
    background-image: url("../images/footer/icon-vk.svg");
}
.icon-ok {
    width: 12px;
    height: 20px;
    background-image: url("../images/footer/icon-ok.svg");
}
.icon-telegram {
    background-image: url("../images/footer/icon-telegram.svg");
}
.icon-youtube {
    background-image: url("../images/footer/icon-youtube.svg");
}
.icon-insta {
    background-image: url("../images/footer/icon-insta.svg");
}
// //////////////////END ICONS
