//colors
$text: #000;
$light-green: #1EA01E;
$green: #0D870D;
$orange: #FA961E;
$blue: #00B4F0;
$gray: #ECEEF2;
$light-black: #333333;
$red: #ED2F2F;

//sizes&&paddings
$textSize: 16px;
$lineHeight: 24px;