//colors
$text: #000;
$light-green: #1EA01E;
$green: #0D870D;
$orange: #FA961E;
$blue: #00B4F0;
$gray: #ECEEF2;
$light-black: #333333;
$red: #ED2F2F;
$fbColor: #1F3B74;
$fbCircle: #3B5998;
$vkColor: #27466A;
$vkCircle: #4C6C91;
$okColor: #D06313;
$okCircle: #F68634;


//sizes&&paddings
$textSize: 16px;
$lineHeight: 24px;